f-right{
    float: right;
}

f-left{
    float: left;
}

f-center{
    margin: auto;
}

.search-result {

    border: 1px solid black;
    margin-top: 2%;
    background-color: lightgreen;
    border-radius: 2px;

}