body{
    min-height: 100vh;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.float-center{
    margin: auto;
}

.no-padding{
    padding: 0;
}

.button{
    height: 35px;
    padding: 0 15px;
    margin: 0;

    border-radius: 0px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
}

.btn-white{
    background-color: white;
}

input, button:focus{
    outline: none;
}

.search-result {
    border: 1px solid black;
    margin-top: 2%;
    background-color: lightgreen;
    border-radius: 2px;
}

#book .search-result {
    border: 0;
    margin: 0;
    background-color: white;
    border-radius: 0;
}
