@model hackathon_ithuset.Models.BookViewModel
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book</h2>

<div id="book"></div>
<div id="related"></div>

@section ascripts {
<script src="~/Scripts/formatresult.js"></script>
    <script>
        $(document).ready(function () {
            var model = @Html.Raw(Json.Encode(Model));

            GetRelatedBookInformation(model.isbn);

            for (var i = 0; i < model.relatedisbns.length; i++) {
                GetRelatedBookInformation(model.relatedisbns[i]);
            }
        });

        function GetBookInformation() {}

        function GetRelatedBookInformation(isbn) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var jsonobj = JSON.parse(this.responseText);
                    var list = jsonobj.xsearch.list;

                    $("#related").append(formatResultDiv(list[0]));
                }
            }
            xhttp.open("GET", "http://libris.kb.se/xsearch?query=isbn:" + isbn + "&format=json", true);
            xhttp.send();
        }
    </script>
}