@model string
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<<<<<<< HEAD
@Model
<form method="post">
    <input type="text" name="query" />
</form>
=======
<input type="text" name="query" id="query" />
<button class="search" onclick="getResult()">Sök</button>

<div id="result">

</div>

<script>
    function getResult() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            $("#list").empty();
            if (this.readyState == 4 && this.status == 200) {

                var jsonobj = JSON.parse(this.responseText);
                var list = jsonobj.xsearch.list;

                // TODO: Present beautifully
                for (var i = 0; i < list.length; i++) {
                    
                    var isbn = list[i].isbn;
                    if(typeof instanceof Array)
                        isbn = isbn[0];

                    $("#list").append("<div class='search-result'>" + 
                                        "<h5> Title: " + list[i].title + "</h6>" +
                                        "<h6> Creator: " + list[i].creator + "</h6>" +
                                        "<br>" + 
                                        "<strong> Date: </strong>" + list[i].date +
                                        "<br>" + 
                                        "<strong> Language: " + list[i].language + 
                                        "<a href='/Home/Book/" + isbn + "'/>" + 
                                        "</div>");
                }
            }
        }
        xhttp.open("GET", "http://libris.kb.se/xsearch?query=" + document.getElementById("query").value + "&format=json", true);
        xhttp.send();
    }
</script>

