@model string
@{
    ViewBag.Title = "Index";
}

@section styles{
<link href="~/Content/Stylesheets/general.css" rel="stylesheet" />
<link href="~/Content/Stylesheets/index.css" rel="stylesheet" />
}

<img class="index-background"/>

<div class="header-box">
    <h2>Book searcher</h2>
</div>

<<<<<<< HEAD
@Model
<input type="text" name="query" id="query"/>
<button class="search" onclick="getResult()">Sök</button>
=======
<div class="searchbar-container">
    <input type="text" name="query" id="query"/>
    <button class="button btn-white" onclick="getResult()">Sök</button>
</div>
>>>>>>> 951767b2a47f61059391d55cba3491689073b6e8

<div id="result">

</div>

<script>
    function getResult() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            $("#result").empty();
            if (this.readyState == 4 && this.status == 200) {

                var jsonobj = JSON.parse(this.responseText);
                var list = jsonobj.xsearch.list;

                // TODO: Present beautifully
                for (var i = 0; i < list.length; i++) {
                    var isbn = list[i].isbn;
                    if(isbn instanceof Array)
                        isbn = isbn[0];

<<<<<<< HEAD
                    result = "<div class='search-result'>" + 
=======
                    $("#result").append("<div class='search-result'>" + 
>>>>>>> 951767b2a47f61059391d55cba3491689073b6e8
                                        "<h3> Title: " + list[i].title + "</h3>" +
                                        "<h5> Creator: " + list[i].creator + "</h5>" +
                                        "<br>" + 
                                        "<strong> Date: </strong>" + list[i].date +
                                        "<br>" + 
                                        "<strong> Language: " + list[i].language + 
                                        "<br>";

                    if(isbn != "undefined") {
                        result += "<a href='/Home/Book/" + isbn + "'>View related books</a>"
                    }
                     
                     result += "</div>"

                    $("#result").append(result);
                }
            }
        }
        xhttp.open("GET", "http://libris.kb.se/xsearch?query=" + document.getElementById("query").value + "&format=json", true);
        xhttp.send();
    }


    function getResultDiv(list){

        


    }

</script>